.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
    padding: 1rem 0;
    margin: 1rem 0;
}

.item img {
    width: 5rem;
    height: 5rem;
}

.buttons {
    
}

.buttons button {
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 8px;
    border: 0.5px solid black;
    background-color: #2A4D14;
    color: white;
}

.buttons button:hover {
    background-color: #AFF9C9;
    color: black;
   }