.form {
    padding: 0.5rem;
}

.btn {
    padding: 0.5rem;
    font-weight: bold;
    color: white;
    background-color: #2A4D14;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
}

.btn:hover {
 background-color: #AFF9C9;
 color: black;
}

.input {
    border:1px solid #AFF9C9;
    padding: 0.5rem;
    border-radius: 8px;
    text-align: center;
    width: 4rem;
}

.input:focus {
    border-bottom: 1px solid #2A4D14;
}
