.container {
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../../assets/shopping2.jpg');
    position: relative;
}

.textContainer {
    position: absolute;
    top: 2rem;
    line-height: 1.6;
    letter-spacing: .5px;
    word-spacing: 1px;
    max-width: 50vw;
    left: 0;
    right: 0;
    top: 2rem;
    margin: auto;
    text-justify: inter-word;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
}