*, ::before, ::after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  overflow-wrap: break-word;
}

:root {
  --main: #008080;
  --secondary: #2A4D14;
  --button-light-green: #AFF9C9;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.centered {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 1rem;
  width: 20rem;
}
